Data/rest_validation.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Reviews">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element name="Review" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="sentences">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="sentence" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="text"/>
                          <xs:element name="Opinions" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Opinion" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="target" use="optional"/>
                                        <xs:attribute type="xs:string" name="category" use="optional"/>
                                        <xs:attribute type="xs:string" name="polarity" use="optional"/>
                                        <xs:attribute type="xs:byte" name="from" use="optional"/>
                                        <xs:attribute type="xs:byte" name="to" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="id" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:int" name="rid" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>